<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><%= interest.escape("name") %></h3>
    </div>
    <div class="panel-body">
        <%= interest.escape("description") %>
    </div>

    <div class="panel-footer">
        <% if(interested) { %>
            <button class="btn btn-sm follow-btn" data-id="<%= interest.id %>">Unfollow</button>
            <button class="btn btn-sm follow-btn hidden" data-id="<%= interest.id %>">Follow</button>
        <% } else { %>
            <button class="btn btn-sm follow-btn hidden" data-id="<%= interest.id %>">Unfollow</button>
            <button class="btn btn-sm follow-btn" data-id="<%= interest.id %>">Follow</button>
        <% } %>
    </div>
</div>