<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
          <% if logged_in? %>
            <li class="active">
                <a href="#/users/<%= current_user.id %>"><span class="glyphicon glyphicon-home"></a>
            </li>

       <li class="dropdown">
          <a href="#"
              class="dropdown-toggle"
              data-toggle="dropdown">
                  Interests <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#/users/<%= current_user.id %>/interests">Your Interests</a></li>
            <li><a href="#/interests">Add Interests</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>

<ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
                    <li><% if logged_in? %>
                          <%= button_to "Sign Out", session_url, method: :delete , class: "btn btn-link"%>
                          <% else %>
                          <%= link_to "Sign In", new_session_url %>
                          <% end %>
                  </li>
          </ul>
        </li>
      </ul>



        <% else %>
              <li><%= link_to "Sign In", new_session_url %></li>
        <% end %>
      </ul>
    </div>
</nav>