<nav class="navbar navbar-inverse navbar-fixed-top black top-nav" id="navbar">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#su-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-center navbar-section">
        <ul class="nav navbar-nav">

          <li class="thumb thumbs-down">
            <form action="#" method="post" class="downvote-form">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <button type="submit" class="btn btn-default btn-lg vote-btn">
              <span class="glyphicon glyphicon-thumbs-down"></span>
            </button>
            </form>
          </li>
          <li><%= button_to "Sail", "#/sail" , method: :get,  class: "sail-btn sail-style-btn" %></li>
          <li class="thumb thumbs-up">
            <form action="#" method="post" class="upvote-form">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

            <button type="submit" class="btn btn-default btn-lg vote-btn">
              <span class="glyphicon glyphicon-thumbs-up"></span>
            </button>
          </form>
          </li>
        </ul>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="su-navbar-collapse-1">
      <ul class="nav navbar-nav  navbar-section">
        <% if logged_in? %>
        <li>
          <a data-toggle="modal" data-target="#new-website-form" class="btn btn-lg">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right  navbar-section">
        <li>
          <a href="#/users/<%= current_user.id %>" class="btn btn-lg">
            <span class="glyphicon glyphicon-home"></span>
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= current_user.username %> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#/users/<%= current_user.id %>">Your Interests</a></li>
            <li><a href="#/interests">Add Interests</a></li>
            <li><a href="#/interests">Propose New Interest</a></li>
            <li class="divider"></li>
            <li><%= link_to "Sign Out", session_url, method: :delete %></li>
          </ul>
        </li>
        <% else %>

        <% end %>
      </ul>
    </div>
  </div>
</nav>