<% action = sign_up ? users_url : session_url %>
<% text = sign_up ? "Sign up." : "Sign in." %>

<!-- <div class="logo">
  <img src="/logo_full.png">
</div> -->
<div class="row">
    <div class="col-xs-8 col-xs-offset-2 sign-up">
        <h1 class="form-header">Sail the seas of the interweb.</h1>
        <h2 class="form-header"><%= text %></h1>
        <div class="col-xs-6 col-xs-offset-3">
        <form action="<%= action %>" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

            <div class="form-group">
                <input type="text"
                class="form-control"
                name="user[username]"
                id="user-username"
                placeholder="Enter Username"
                >
            </div>

            <div class="form-group">
                <input type="password"
                class="form-control"
                name="user[password]"
                id="user-password"
                placeholder="Enter Password"
                >
            </div>
            <input type="submit" value="Set Sail..." class=" btn sail-style-btn" id="sign-in">

        </form>
        <br><br>
        <% if sign_up %>
        <%= button_to "Already a user?", new_session_url, method: :get, class: "btn sail-style-btn sail-style-btn-lg" %>
          <!-- <a href="<%= new_session_url %>"><button class="btn sail-style-btn sail-style-btn-lg" href="">
            Already a user?
          </button></a> -->
        <% else %>

        <button class="btn sail-style-btn sail-style-btn-lg" id="guest-btn">
          Sail as a guest
        </button>

        <%= button_to "Go to sign Up", new_user_url, method: :get, class: "btn sail-style-btn sail-style-btn-lg" %>
        <!-- <button class="btn sail-style-btn sail-style-btn-lg">Sign Up</button> -->

        <% end %>
      </div>
    </div>
</div>

<script>
$('#guest-btn').on('click', function () {
  $('#user-username').val('Guest User');
  $('#user-password').val('guestpassword');
  $('#sign-in').trigger('click');
})
</script>
