<!DOCTYPE html>
<html>
<head>
    <title>App</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

</head>
<body>

    <script type="application/json" id="current_user_json">
      { "current_user": <%= current_user.to_json.html_safe %> }
    </script>

    <%= render 'shared/navbar' %>
    <div class="container-fluid" id="wrapper">
        <% if flash[:errors] %>
        <div class="notice alert-error">
            <% flash[:errors].each do |error| %>
            <%= error %>
            <% end %>
        </div>
        <% end %>

        <% if flash[:notices] %>
        <div class="notice alert-success">
            <% flash[:notices].each do |notice| %>
            <%= notice %>
            <% end %>
        </div>
        <% end %>


        <%= yield %>
    </div>

</body>
</html>
