<!DOCTYPE html>
<html>
<head>
    <title>SailUpon</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

</head>
<body>

    <script type="application/json" id="current_user_json">
      { "current_user": <%= (render :partial => 'api/users/user', :handlers => [:jbuilder], :locals => {:user => current_user}).html_safe %>,
       "interests": <%= Interest.all.to_json.html_safe %>}
    </script>

    <% if logged_in? %>
    <div id="navbar"></div>
    <% end %>
    <%#= render 'shared/navbar' %>
    <div class="container-fluid" id="wrapper">
        <%= yield %>
    </div>
    <%= render 'shared/new_site_modal' %>
</body>
</html>
