<!DOCTYPE html>
<html>
<head>
    <title>App</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>


          <ul class="nav navbar-nav navbar-right">
              <li><% if logged_in? %>
                    <%= button_to "Sign Out", session_url, method: :delete , class: "btn btn-link"%>
                    <% else %>
                    <%= link_to "Sign In", new_session_url %>
                    <% end %>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
        </div>
    </nav>


    <% if flash[:errors] %>
    <div class="notice alert-error">
        <% flash[:errors].each do |error| %>
        <%= error %>
        <% end %>
    </div>
    <% end %>

    <% if flash[:notices] %>
    <div class="notice alert-success">
        <% flash[:notices].each do |notice| %>
        <%= notice %>
        <% end %>
    </div>
    <% end %>
    <div class="container-fluid">
        <%= yield %>
    </div>

</body>
</html>
