<!DOCTYPE html>
<html>
<head>
    <title>App</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

</head>
<body>

    <script type="application/json" id="current_user_json">
      { "current_user": <%= current_user.to_json.html_safe %>,
       "user_interests": <%= current_user.interests.to_json.html_safe %>,
       "interests": <%= Interest.all.to_json.html_safe %>}
    </script>

    <div id="navbar"></div>
    <%#= render 'shared/navbar' %>
    <div class="container-fluid" id="wrapper">
        <div class="notice alert-error"></div>
        <div class="notice alert-success"></div>
        <%= yield %>
    </div>
<%= render 'shared/new_site_modal' %>
</body>
</html>
